<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% if messages %}
    <div>
        <ul>
            {% for m in messages %}
            <li>{{m}}</li>
            {% endfor %}
            <a href='{% url 'login_link' %}'>Log In</a>
        </ul>
    </div>    
    {% endif %}
    <ul>
        {% if not user.is_authenticated %}
        <li><a href='{% url 'login_link' %}'>Log In</a></li>
        {% endif %}
    </ul>
</body>
</html>